<h3>Insira o email cadastrado: </h3>
<div class="card mt-4">
    <div class="card-body">
        <form action="/usuarios/emailsenha" method="post">
            <label for="email">Email: </label>
                <input type="email" name="email" class="form-control">
                <button type="submit" class="btn btn-success mt-2" >Enviar</button>
        </form>
        <br>
        <small>Você receberá um email de confirmação...</small>
    </div>
</div>